name: Rust + Miri + Sanitisers

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install Miri
      run:  |
        sudo apt-get install libasound2-dev
        rustup toolchain install nightly --component miri
        rustup override set nightly
        cargo miri setup
        curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin
    - name: Run tests
      run: cd ./scripts && ./dev_run_before_push
